/********** WEB FONTS **********/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/********** FIXES **********/

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

/********** GENERAL CSS STYLING **********/

body {
	background: url(../images/forestbackground.gif) no-repeat;
	font-family: 'Open Sans', sans-serif;
}

p {
	line-height: 1.5em;
	margin: 0 0 25px;
	font-size: 18px;
	color: #777777; 
}

h1 {
	font-size: 22px;
	color: #1f5121;
	text-transform: uppercase; 
}

.wrapper {
	width: 965px;
	margin: 0 auto;
}

#nav_bar {
	background: #1f5121;
	height: 50px;
	opacity: 0.9;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
	font-size: 20px; 
	text-transform: uppercase;
}

#nav_bar a {
	color: white;
	margin: 15px;
	text-decoration: none;
}

#nav_bar a:hover {
	color: #aac513;
}

#info {
	background: white;
	margin: 70px 0 20px 0;
	padding: 35px;
	border-radius: 3px;
}

#recreation {
	background: white;
	margin: 30px 0 20px 0;
	padding: 35px;
	border-radius: 3px;
}

#contact {
	background: #e6e6e6;
	margin: 250px 0 0 0;
	padding: 35px;
	border-radius: 3px;
}

.image {
	background: white;
	padding: 5px;
	border-radius: 3px;
}

.imagerec {
	background: black;
	padding: 2px;
	border-radius: 3px;
}

.col3 {
	float: left;
	width: 100%;
	margin: 0;
}

.col1_left {
	float: left;
	width: 32%;
	margin: 15px 0 0 0;
}

.col1_mid {
	float: left;
	width: 32%;
	margin: 15px 2% 0;
}

.col1_right {
	float: right;
	width: 32%;
	margin: 15px 0 0 0;
}

.col2_left {
	float: left;
	width: 66%;
	margin: 15px 0 0 0;
}

.colportrait_A {
	float: left;
	width: 23.5%;
	margin: 15px 1% 0 0;
}

.colportrait_B {
	float: left;
	width: 23.5%;
	margin: 15px 1% 0;
}

.colportrait_C {
	float: left;
	width: 23.5%;
	margin: 15px 1% 0;
}

.colportrait_D {
	float: right;
	width: 23.5%;
	margin: 15px 0 0 0;
}

#portraitpics {
	clear:both ;
}

/********** LIGHTBOX EFFECT **********/

/** reset lightbox position **/
#lightbox-container-image-data-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
 
/** page structure **/
#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}
 
#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
 
#thumbnails { display: block; margin-bottom: 10px; }
#thumbnails ul li { float: left; margin-right: 26px; margin-bottom: 12px; }


